.DS_Store
.mypy-cache
.vscode/
.venv/
venv/
__pycache__/
*.pyc
*.egg-info
build/
dist/
dump.rdb
*.rdb
github_download/
logs/
setup.sh
.env
oracle.key
oracle.pub
redis-stable/
redis-stable.tar.gz
redis-*.tar.gz
redis-src/
